@model Glaz.Server.Models.Orders.DetailsOrder

@{
    ViewData["Title"] = "Подробности о заказе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Заказ № @Model.Id</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TargetImagePath)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.TargetImagePath">
                <img width="100" height="100" src="@Model.TargetImagePath" alt="Изображение картинки-цели"/>
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrackingRate)
        </dt>
        <dd class="col-sm-10">
            @if (Model.TrackingRate < 0)
            {
                <span>Картинка ещё не была обработана</span>
            }
            else
            {
                var stars = new string('★', Model.TrackingRate);
                <span class="text-warning">@stars (@Model.TrackingRate★/5★)</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseFilePath)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.ResponseFilePath">Скачать</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>